
.item {
  width: 230px;
  box-sizing: border-box;
  padding: 0px 12px 12px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 30px 10px;
  border: transparent solid gray;
  position: relative;
  background-color: #DBB9DB;

  

  div {
    width: 180px;
    height: 180px;
    border-radius: 5px;
  }

  span {
    font-size: 15px;
    font-weight: 700;
    margin: 10px;
  }
}

.favourite {
  position: absolute;
  right: 6px;
  top: 6px;
  width: 24px !important;
  height: 24px !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img{
    
  border-radius: 30px 10px 30px 0px;
  object-fit: cover;
  width: 230px;
  height: 200px;    
}